.card-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
