.home-container {
    padding: 30px;
}

.search-container {
    position: relative;
    z-index: 10;
}

.home-title {
    text-transform: uppercase ;
}

.recipe-list {
    min-height: 100vh;

}

.recipe-list {
    margin-top: 60px;
}

.filter-btn {
    background-color: var(--main-color);
}

.filter-btn:hover {
    background-color: var(--hover-color) !important;
}
